<form method="post">
    Date : <input type="date" value="{$date}" name="start_date">
    <input type="submit" value="Go">
</form>
<table border="1">
    <thead>
        <tr>
            <th>Sl. No.</th><th>No.</th><th>Employee Name</th><th>Function</th><th>Designation</th><th>Status</th>
        </tr>
    </thead>
    {$loop=1}
    {foreach from=$attendance item=mod}
    <tr>
        <td>{$loop++}</td>
        <td>{$mod.no}</td>
        <td>{$mod.name}</td>
        <td>{$mod.function}</td>
        <td>{$mod.designation}</td>
        <td><select onchange="save_attendance('{$date}', '{$mod.id_employee}', this.value);">
                {html_options options=$ini.attendance selected=$mod.type}
            </select>
        </td>
    </tr>
    {/foreach}
</table>
<script type="text/javascript">
    function save_attendance(date, id_emp, status) {
        console.log(date, id_emp, status);
        $.post("index.php?module=salary&func=save_salary_attendance", { date:date, id_emp:id_emp, status:status }, function(data) {
            //alert(data);
            console.log(data);
        });
    }
</script>
