<span style="border: 2px solid black" > 
    <a href="index.php?module=salary&func=edit">Add Employee</a>&nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="index.php?module=salary&func=listing">Manage Employee</a>&nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="index.php?module=salary&func=generate">Generate Salary for Month</a>&nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="index.php?module=salary&func=payslip">PaySlip</a>&nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="index.php?module=salary&func=deduction">Deduction</a>&nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="index.php?module=salary&func=esi">ESI Statement</a>&nbsp;&nbsp;||&nbsp;&nbsp;
    <a href="index.php?module=salary&func=epf">EPF Statement</a>
</span><br>
