<table border="1">
	<tr>
		<td>Name :</td><td>{$head[0].name}</td>
	</tr>
	<tr>
		<td>Address :</td><td>{$head[0].address1}<br>{$head[0].address2}<br>{$head[0].address3}</td>
	</tr>
	<tr>
		<td>GSTIN :</td><td>{$head[0].gstin}</td>
	</tr>
	<tr>
		<td>Pan No :</td><td>{$head[0].panno}</td>
	</tr>
	<tr>
		<td>Adhar No :</td><td>{$head[0].adhar}</td>
	</tr>
	<tr>
		<td>Contact Person :</td><td>{$head[0].contact_person}</td>
	</tr>
	<tr>
		<td>Phone :</td><td>{$head[0].phone}</td>
	</tr>
	<tr>
		<td>Email :</td><td>{$head[0].email}</td>
	</tr>
	<tr>
		<td>Bank Details :</td><td>{$head[0].banker}<br>{$head[0].acno}<br>{$head[0].acifsc}<br>{$head[0].acname}<br>{$head[0].actype}</td>
	</tr>
</table>

