<script type="text/javascript" src="{$source}jsmodule/account.js?a=1"></script>
<script type="text/javascript" src="{$source}jsmodule/price.js"></script>
<form name="add_voucher" id="add_voucher" method="post" action="index.php?module=voucher&func={if $data.id_voucher}update{else}insert{/if}" >
    <fieldset>
        <legend>{if $data.id_voucher}Edit{else}Add{/if} Voucher</legend>
        <table>
            <tr valign="top">
                <td>
                    <table>
                        <tr>
                            <td><b>Date :</b></td>
                        {if isset($data.date)}
                            {$date=$data.date}
                        {else}
                                {$date=$smarty.now}
                        {/if}
                                {if isset($data.date)}
                                    {$date=$data.date}
                                {else}
                                    {if $smarty.now|date_format:'%y/%m/%d'>=$smarty.session.sdate|date_format:'%y/%m/%d' && $smarty.now|date_format:'%y/%m/%d'<=$smarty.session.edate|date_format:'%y/%m/%d'}
                                        {$date=$smarty.now}
                                    {else}
                                        {$date=$smarty.session.edate}
                                    {/if}
                                {/if}

                            <td><input type="text" name="voucher[date]" class="dtpick" value="{$date|date_format:$smarty_date}"/></td>
                        </tr>
                        <tr>
                            <td><b>Journal No :</b></td>
                            <!----<td><input type="text" onchange="check(this.value, this.id, 'journal_add', 1);" name="vno" id="no" value='{if $data}{$data.no}{else}{$nextno+1}{/if}'/>-->
                            <td><input type="text" name="vno" id="no" value='{if $data.no}{$data.no}{else}{$nextno+1}{/if}'/><br><span id="msgbox"></span>
                                <label for="vno"></label>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Debit Account :</b></td>
                            <td>
                                <input type="text" name="debit" value='{if $data}{$head[$data.id_head_debit]}{/if}' id="debit" size="70"/>
                                <input type="hidden" name="voucher[id_head_debit]" id="id_head_debit" value='{if $data}{$data.id_head_debit}{/if}'>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Credit Account :</b></td>
                            <td>
                                <input type="text" name="credit" value='{if $data}{$head[$data.id_head_credit]}{/if}' id="credit" size="70"/>
                                <input type="hidden" name="voucher[id_head_credit]" id="id_head_credit" value='{if $data}{$data.id_head_credit}{/if}'>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Amount :</b></td>
                            <td><input type="text" name="voucher[total]" id="amt" value='{$data.total|string_format:"%.2f"}'></td>
                        </tr>
                        <tr>
                            <td><b>CHQ/DD/MR :</b></td>
                            <td><input type="text" name="voucher[ref1]" value="{$data.ref1}"></td>
                        </tr>
                        <tr>
                            <td><b>Remark :</b></td>
                            <td><textarea name="voucher[memo]" cols="180" rows="5">{$data.memo}</textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div align='center'>Adjusted Bills</div>
                                <table border="1" cellspacing="0" id="billamt" align="center">
                                       <tr><th>Bill No</th><th>Amount</th></tr>
                                        {if isset($bill)}
                                            {foreach item=v1 key=k1 from=$bill}
                                                <tr><td>
                                                        <input type="text" name="billno[]"  value="{$v1.billno}">
                                                        <input type="hidden" name="billid[]"  value="{$v1.id_sale}">
                                                    </td>
                                                <td><input type="text"  name="bamt[]" id="bamt" value="{$v1.amt}"></td></tr>
                                            {/foreach}
                                        {else}
                                        <tr><td>&nbsp;</td><td>&nbsp;</td></tr>
                                        {/if}
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td align="center" colspan="2">
                                {if isset($bill) && count($bill)>0}
                                <div style="color: red"><b>*****Billwise Detail exists. Edit not possible. Please delete this voucher and Add again.*****</b></div>
                                {else}
                                    <input type="hidden" id="hide" name="id" value="{$data.id_voucher}" />
                                    <input type="button" value="Save"  id="save" />
                                    <input type="reset" value="Reset" />
                                {/if}
                            </td>
                        </tr>
                    </table>
                </td>
                <td valign="top" width="20px"></td>
                <td valign="top">
                    <center><b>Bill Details</b><br>(Click on the Bill Number to Select)</center>
                    <table border="1" cellspacing="0" id="billdetail" style="width: 100%; font-size: 12px"></table>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
