<form method="post" action="index.php?module=rate&func={if $data.id_rates}update{else}insert{/if}">
    <fieldset>
        <legend>{if $data.id_rates}Edit{else}Add{/if} Rate</legend>
        <table id="dataTable" class="table table-striped table-bordered" width="100%">
            <tr>
                <td><b>Party Name:</b></td>
                <td><select class="form-control" name="rate[id_head]" required>
                        <option>Select Party</option>
                        {html_options options=$head selected=$data.id_head}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>From Area:</b></td>
                <td><select class="form-control" name="rate[id_from_area]" required>
                    <option>Select From Area</option>
                    {html_options options=$area selected=$data.id_from_area}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>To Area:</b></td>
                <td><select class="form-control" name="rate[id_to_area]" required>
                    <option>Select To Area</option>
                        {html_options options=$area selected=$data.id_to_area}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Mode:</b></td>
                <td><select class="form-control" name="rate[id_mode]" required>
                    <option>Select Mode</option>
                    {html_options options=$mode selected=$data.id_mode}
                </select>
            </td>
            </tr>
            <tr>
                <td><b>Rate:</b></td>
                <td><input type="text" required class="form-control" name="rate[rate]" value="{$data.rate}"/>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id ="hide" name="id" value="{$data.id_rates}">
                    <input class="btn btn-primary" type="submit" id="submit" value="Save" />
                    <input class="btn btn-danger" type="reset" name="res" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form> 
