<script type="text/javascript">
$(function(){
    $('#id_purchase').click(function(){
        var val = [];
        $(':checkbox:checked').each(function(i){
            val[i] = $(this).val();
        });
        if(val==''){
            alert('There is no record selected for Report!');
        }else{
            window.open('index.php?module=purchase&func=prsale&id='+val+'&ce=0','_new','scrollbars=yes,resizable=yes,width=720,height=450,top=50,left=250');
        }
    });
});
</script>
<table id="dataTable">
    <thead>    
        <tr>
            <td colspan="20" valign="top">
                <form action="index.php?module=purchase&func=listing" method="post">
                    <fieldset><legend>Filter Purchase List</legend>
                        <p><span>
                                {$rec = $sdata|count - 1}
                                Start :<input type="text" name="start_date" size="8" class="dtpick" value='{$sdata.$rec.date|date_format:$smarty_date}' />
                            </span>
                            <span>End :<input type="text" name="end_date" size="8" class="dtpick" value='{$sdata.0.date|date_format:$smarty_date}' /></span>
                            <span>Representative:
                                <select name="represent">
                                    <option>All</option>
                                    {html_options options=$salesman selected=$smarty.request.represent}
                                </select>
                            </span>
                            <span>
                                Company:
                                <select name="company">
                                    <option>All</option>
                                    {html_options options=$company selected=$smarty.request.company}
                                </select>
                            </span>
                            <span>
                                Type:
                                <select name="taxbill">
                                    <option>All</option>
                                    {html_options options=$ini.tax_type selected=$smarty.request.taxbill}
                                </select>
                            </span>
                            <span><input type="submit" value="Go" /></span>
                        </p>   
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr>
            <th>Type</th><th>No.</th><th>Bill No</th><th>Bill Date</th><th>Recv.Date</th><th>Party</th><th>Goods Value</th><th>Discount</th>
            <th>GST</th><th>CESS</th><th>Others</th><th>Bill Amount</th>
            <th>
                Manage
                <a title="Report" href="#" id="id_purchase"><img src="images/report2.png" alt="Sale"></a>
                <a title="Add Sale Bill" href="index.php?module=purchase&func=edit"><div class="add_bg"></div></a>
            </th>
        </tr>
    </thead>
    {foreach from=$sdata item=mod}
    <tr>
<!---        <td>{$ini.tax_type[$mod.taxbill]}</td> -->
        <td>{$mod.purchase_type}</td>
        <td>{$mod.no}</td>
        <td>{$mod.bill_no}</td>
        <td>{$mod.bill_date|date_format:$smarty_date}</td>
        <td>{$mod.date|date_format:$smarty_date}</td>
        <td><a href="?module=accounts&func=ledger&id={$mod.id_head}&option=1&start_date={$smarty.session.sdate|date_format:'%d/%m/%Y'}&end_date={$smarty.now|date_format:'%d/%m/%Y'}" target="_blank">{$mod.party_name}</a></td>
        <td align="right">{$mod.totalamt}</td>
        <td align="right">{$mod.discount}</td>
        <td align="right">{$mod.vat}</td>
        <td align="right">{$mod.totalcess}</td>
        <td align="right">{$mod.add-$mod.less+$mod.round+$mod.packing}</td>
        <td align="right">{$mod.total}</td>
        <td width="120px">
            <a href="index.php?module=purchase&func=delete&id={$mod.id_purchase}&ce=0" onclick="return confirm('Do you want to delete?');"><div title="Delete" class="delete_bg">&nbsp;</div></a>
            <a class="salebill" href="index.php?module=purchase&func=prsale&id={$mod.id_purchase}&ce=0" ><div title="Print Bill" class="report_bg">&nbsp;</div></a>&nbsp;
            <a href="index.php?module=purchase&func=edit&id={$mod.id_purchase}"><div title="Edit" class="edit_bg">&nbsp;</div></a>
            <input class="checkbox" type="checkbox" name="id_purchase[]" value="{$mod.id_purchase}" />
        </td>
    </tr>
    {/foreach}
</table>
<script type="text/javascript">
    $(document).ready(function() {
        fancy_handler("salebill");
        tbl_handler();
    });
</script>
