<script type="text/javascript">
    $(function(){
        $('#id_sale').click(function(){
            var val = [];
            $(':checkbox:checked').each(function(i){
                val[i] = $(this).val();
            });
            if(val==''){
                
                alert('There is no record selected for Report!');
                
            }else{
                window.open('index.php?module=production&func=prsale&id='+val+'&ce=0','_new','scrollbars=yes,resizable=yes,width=720,height=450,top=50,left=250');
            }
        });
    });
</script>
<table id="dataTable">
    <thead>    
        <tr>
            <td colspan="7" valign="top">
                <form action="index.php?module=production&func=listing" method="post">
                    <fieldset><legend>Filter Production List</legend>
                        <p><span>
                                Start Date:<input type="text" name="start_date" size="10" class="dtpick" value='{if isset($smarty.request.start_date)}{$smarty.request.start_date}{else}{$smarty.now|date_format:"01/%m/%Y"}{/if}' />
                            </span>
                            <span>End Date:<input type="text" name="end_date" size="10" class="dtpick" value='{if isset($smarty.request.end_date)}{$smarty.request.end_date}{else}{$smarty.now|date_format:"%d/%m/%Y"}{/if}' /></span>
                                Company:
                                <select name="company">
                                    <option value=" ">All</option>
                                    {html_options options=$company selected=$smarty.request.company}
                                </select>
                            </span>
                            <span><input type="submit" value="Go" /></span>
                        </p>   
                    </fieldset>
                </form>
            </td>
        </tr>
        <tr>
            <th>Sl. No.</th><th>Date</th><th>Shift</th><th>Ref.No.</th><th>Ref. Date</th><th>Remarks</th>
            <th>
                <a  href="index.php?module=production&func=edit"><div class="add_bg"></div></a>
            </th>
        </tr>
    </thead>
    {foreach from=$sdata item=mod}
    <tr>
        <td>{$mod.slno}</td>
        <td>{$mod.date|date_format:$smarty_date}</td>
        <td>{$mod.shift}</td>
        <td>{$mod.reference_no}</td>
        <td>{$mod.reference_date|date_format:$smarty_date}</td>			
        <td>{$mod.memo}</td>
        <td align="left">
            <a href="index.php?module=production&func=edit&id={$mod.id_production}"><div class="edit_bg">&nbsp;</div></a>
            <a href="index.php?module=production&func=delete&id={$mod.id_production}&ce=0" onclick="return confirm('Do you want to delete?');"><div class="delete_bg">&nbsp;</div></a></td>
    </tr>
    {/foreach}
</table>
<script type="text/javascript">
    $(document).ready(function() {
        tbl_handler();
    });
</script>