<h3>Head Master<hr></h3>
<table id="dataTable" class="table table-striped table-bordered" width="100%">
    <thead>
        <tr>
            <th>Name</th><th>Group</th><th>Address</th><th>GSTin/Tin</th><th>Phone</br>E-mail</th><th>Area</th><th>Opening Balance Type</th><th><a title="Add Head" href="index.php?module=head&func=edit"><i class="fa fa-plus fa-2x"></i></a></th>
        </tr>
    </thead>
    {foreach from=$head item=mod}
    <tr>
        <td>{$mod.name}</td>
        <td>{$mod.gname}</td>
        <td>{$mod.address1}<br>
            {$mod.address2}<br>
            {$mod.address3}<br>{$mod.state}</td>
        <td>{$mod.gstin}<br>{$mod.vattype}-{$mod.vatno}</td>
        <td>{$mod.phone}</br>{$mod.mobile}</br>{$mod.email}</td>
        <td>{$mod.area}</td>
        <td align="right">{$mod.opening_balance}&nbsp;{if $mod.otype==0}Db{else}Cr{/if}</td>
        <td><select onchange="update_status('head', '{$mod.id_head}', this.value,$('#list_status').val());">
            {html_options options=$ini.status selected=$mod.status}
        </select>
            <a title="Edit Head" href="index.php?module=head&func=edit&id={$mod.id_head}"><i class="fa fa-edit fa-2x"></i></a>
            <a title="Delete Head" href="index.php?module=head&func=delete&id={$mod.id_head}&ce=0" onclick="return confirm('Do you want to delete?');"><i class="fa fa-trash fa-2x"></i></a></td>
    </tr>
    {/foreach}
</table>