<table style="width: 100%;">
    <tr>
        <td style="width:2%"></td>
        <td style="width: 30%; vertical-align: text-top">
            <h3>: Latest Development :</h3>

            <ul style="background: lightgray; font-weight: 900;">
                <li><a href="index.php?module=accounts&func=fundflow">Fund Flow Statement</a></li>
                <li><a href="index.php?module=accounts&func=bankrecon">Bank Reconcilation</a></li>
            </ul>
            <hr>
            <ul style="background: lightgray">
                <li><a href="index.php?module=head&func=tcs">Party's TCS/Pincode Details</a></li>
                <li><a href="index.php?module=product&func=hsndetails">Product HSN, Min & Max Stock</a></li>
            </ul>
            <hr>

            <ul style="background: lightgray">
                <li><a href="index.php?head&func=creditlimit">Set Credit Limit for Debtors</a></li>
                <li><a href="index.php?accounts&voucher&func=edit">Bill-wise Payment for Debtors</a></li>
                <li><a href="index.php?module=accounts&func=receipt">Receipt & Payment Summary</a></li>
                <li><a href="index.php?module=accounts&func=receipt_spl">Receipt & Payment Statement</a></li>
                <li><a href="index.php?module=preport&func=ltrkg">Ltr/Kg Purchase</a></li>
                <li><a href="index.php?module=sreport&func=ltrkg">Ltr/Kg Sales</a></li>
                <li><a href="index.php?module=stockstmt&func=batchstatement">Batch-wise Stock Statement</a></li>
            </ul>
            <hr>
            <ul>
                <li><a href="index.php?module=sreport&func=partyitem">Party vs Itemwise Sales</a></li>
                <li><a href="index.php?module=preport&func=partyitem">Party vs Itemwise Purchase</a></li>
            </ul>
        </td>
        <td style="width:2%"></td>
        <td style="width: 30%; vertical-align: text-top">
            <h3>: GST Development :</h3>
            <ul style="background: lightgray">
                <li style="color:red"><b><a href="index.php?module=gst&func=saleseinvoice">B2B Sales E-Invoice</a></b></li>
                <li style="color:red"><b><a href="index.php?module=sales&func=listing">Added new Mail option in Sales Bill.</a><blink>********</blink></b></li>
                <li style="color:red"><b><a href="index.php?module=gst&func=gstr3b">GSTR - 3B</a></b></li>
            </ul>
            <hr>
            <ul>
                <li><a href="index.php?module=sreport&func=error">Check Error in Sales Bill</a></li>
                <li><a href="index.php?module=preport&func=error">Check Error in Purchase Bill</a></li>
                <li><a href="index.php?module=gst&func=hsnpurc">Purchase HSN Summary</a></li>
            </ul>
            <hr>
            <ul>
                <li>01/08/17 - <b>New Menu Item GST Report (Sales & Purchase)</b></li>
                <li>01/08/17 - <a href="index.php?module=sreport&func=gst">Sales GST Register</a></li>
                <li>01/08/17 - <a href="index.php?module=gst&func=b2b">GST B2B Register</a></li>
                <li>03/08/17 - <a href="index.php?module=gst&func=b2cl">GST B2CL Register</a></li>
                <li>03/08/17 - <a href="index.php?module=gst&func=b2cs">GST B2CS Register</a></li>
                <li>01/08/17 - <a href="index.php?module=gst&func=hsn">Sales HSN Summary</a></li>
                <li>01/08/17 - <a href="index.php?module=preport&func=gst">Purchase GST Register</a></li>
            </ul>
        </td>
        <td style="width:2%"></td>
        <td style="width: 30%; vertical-align: text-top">
            <h3>: Keyboard Shortcuts :</h3>
            <ul>
                <li>Alt+S : <a href="index.php?module=sales&func=edit">Sales Add</a></li>
                <li><a href="index.php?module=sales&func=listing">Sales Manage</a></li>
                <li>Alt+T : <a href="index.php?module=sreport&func=sreg">Sales Register</a></li>
                <li>Alt+W : <a href="index.php?module=sreport&func=party">Sales Partywise</a></li>
                <li>Alt+P : <a href="index.php?module=purchase&func=edit">Purchase Add</a></li>
                <li>Alt+Q : <a href="index.php?module=preport&func=preg">Purchase Register</a></li>
                <hr />
                <li>Alt+A : <a href="index.php?module=voucher&func=edit">Accounts Add</a></li>
                <li>Alt+B : <a href="index.php?module=accounts&func=ledger">Ledger</a></li>
                <li><a href="index.php?module=accounts&func=outstanding">Outstanding Debtors</a></li>
                <li><a href="index.php?module=accounts&func=osVSledger">Ledger VS Billwise Debtors</a></li>
                <li><a href="index.php?module=accounts&func=outstandingc">Outstanding Creditors</a></li>
                <li><a href="index.php?module=stockstmt&func=statement">Stock Statement</a></li>
                <li><a href="index.php?module=stockstmt&func=batchstatement">Batchwise Stock Statement</a></li>
                <hr />
                <li>Alt+H : <a href="index.php">Home</a></li>
                <!--<li>Alt+1 : <a href="index.php?module=util&func=import">Import Data</a></li>
                <li>Alt+2 : <a href="index.php?module=util&func=listing">Backup</a></li>
                <li>Alt+3 : <a href="index.php?module=util&func=listing">Select Company/Year</a></li>-->
                <li>Alt+4 : <a href="index.php?module=user&func=logout">Logout</a></li>
                <li>Alt+5 : <a href="index.php?module=head&func=call">Call/Whatsapp</a></li>
            </ul>
        </td>
        <td style="width:2%"></td>
    </Tr>
</table>
<table style="width: 100%;">
    <tr><td>
                <iframe width="100%" frameBorder="0" src="index.php?module=head&func=sdays&ce=0"></iframe>
        </td></tr>
</table>

