<form method="post" action="index.php?module=product&func=update">
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><b>HSN Code:</b></td>
                <td><input type="text" name="product[hsncode]"  value="{$data.hsncode}"/>
                <td align="center" colspan="2">
                    <input type="hidden" name="id" value="{$data.id_product}">
                    <input type="submit" value="Save" />
                    <input type="hidden" name="frombatch" value="{$smarty.request.frombatch}"/>
                </td>
            </tr>
        </table>
</form>

