<script type="text/javascript">
    $(document).ready(function() {
        $(".list_temp").change(function() {
            document.plist.method = 'get';
            document.plist.action = 'index.php';
            $("form").submit();
        })
    });
</script>
<form action="" method="post" id="product_list"  name="plist" autocomplete="off">
    <table>
        <tr>
            <td valign="top">
                <input type="hidden" name="module" value="product">
                <input type="hidden" name="func" value="price">
                Choose Company:<br/>
                <select name="id_company" class="list_temp">
                    <option value="0">All</option>
                    {html_options options=$company selected=$smarty.request.id_company}
                </select></td>
                <td valign="top">
                    Status:<br/>
                    <select name="status" id="list_status" class="list_temp">
                    {html_options options=$ini.status_all selected=$smarty.request.status}
                </select>
                </td>
            </td>
        </tr>
    </table>
</form>
<br>
<table border="1">
    <thead>    
        <tr>
            <th>Name</th><th>HSN Code</th><th>Pack</th><th>Case</th><th>GST%</th><th>Cess%</th>
            <th>MRP</th><th>Sell Price</th><th>Purc. Price</th>
        </tr>
    </thead>
    {foreach from=$data item=mod}
    <tr>
        <td>{$mod.name}</td>			
        <td>{$mod.hsncode}</td>			
        <td>{$mod.pack} {$mod.unit}</td>
        <td>{$mod.case}</td>
        <td>{$tax[$mod.id_taxmaster_sale]}</td>
        <td align="right">{$mod.cess}</td>
        <td align="right">{$mod.mrp}</td>
        <td align="right">{$mod.seller_price}</td>
        <td align="right">{$mod.purchase_price}</td>
    </tr>
    {/foreach}
</table>
