<table  width="100%">
    <tr>
        <td>
            <form action="index.php?module=stockstmt&func=value" method="post">
                <fieldset><legend>Valuewise Stock Statement</legend>
                    Date:<input type="text" name="end_date" size="10" class="dtpick" value='{if isset($smarty.request.end_date)}{$smarty.request.end_date}{else}{$smarty.now|date_format:"%d/%m/%Y"}{/if}' />
                    Company :
                    <select name="company">
                        <option value=" ">All</option>
                        {html_options options=$company selected=$smarty.request.company}
                    </select>
                    <input type="submit" value="Go" />
                    <input type="button" class="print" value="Print" />
                </fieldset>
            </form>
        </td>
    </tr>
</table>
{if $sdata}
    <div class="print_content">
        <table border="1" width="100%">
            <tr><th>Name of the Item</th><th>Quantity</th><th>Last Purchase Date</th><th>Rate</th><th>Value</th></tr>
            {$total=0}
            {$prevname=""}
            {foreach from=$sdata item=mod key=k}
              <tr>
                <td>
                    {if $prevname!=$mod.name}
                        <a href="index.php?module=stockstmt&func=sreg&start_date={$smarty.session.sdate|date_format:'%d/%m/%Y'}&end_date={$smarty.session.edate|date_format:'%d/%m/%Y'}&company={$smarty.request.company}&id_product={$mod.id_product}" target="_new">{$mod.name}</a>
                    {else}
                        &nbsp;
                    {/if}
                </td>
                <td class="ra">{$mod.balance|string_format:"%.4f"}</td>
                <td class="ra">{if $mod.date=="Open"}{$mod.date}{else}{$mod.date|date_format:"%d/%m/%Y"}{/if}</td>
                <td class="ra">{$mod.rate|string_format:"%.2f"}</td>
                <td class="ra">{$mod.total|string_format:"%.2f"}</td>
                {$prevname=$mod.name}
                {$total = $total + $mod.total}
            </tr>
            {/foreach}
            <tr>
                <th colspan="3">Total</th>
                <th>{$total|string_format:"%.2f"}</th>
            </tr>
        </table>
    </div>
{else}
    No record Found with this match!
{/if}

