<table border="1">
    <tr>
       	<th>Sl.No.</th>
       	<th>Date</th>
        <th>Debit</th>
        <th>Credit</th>
       	<th align="right">Amount</th>
        <th>Ref.No.</th>
        <th>Remark</th>
    </tr>
    {$total=0}
    {section name=x loop=$data}
    <tr>
        <td>{$smarty.section.x.index_next}</td>
        <td>{$data[x].date|date_format:$smarty_date}</td>
        <td>{$data[x].dname}</td>
        <td>{$data[x].cname}</td>
        <td align="right">{$data[x].total|string_format:"%.2f"}</td>
        <td>{$data[x].refno}</td>
        <td>{$data[x].memo}</td>
    </tr>
    {$total = $total + $data[x].total}
    {/section}
    <tr>
        <td colspan="4">Total</td>
        <td align="right">{$total|string_format:"%.2f"}</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    </tr>
</table>
