<table border="1" id="report">
    <tr>
       	<th>Sl.No.</th>
       	<th>Date</th>
       	<th>Opening</th>
       	<th>Debit</th>
        <th>Credit</th>
        <th>Balance</th>
    </tr>
    {$debit=0} {$total=0} {$credit=0}
    {section name=x loop=$data}
    <tr>
        <td>{$smarty.section.x.index_next}</td>
        <td>{if $data[x].date}{$data[x].date|date_format:$smarty_date}{else}Opening Balance{/if}</td>
        <td align="right">{$total|string_format:"%.2f"}</td>
        <td align="right">{$data[x].debit|string_format:"%.2f"}</td>
        <td align="right">{$data[x].credit|string_format:"%.2f"}</td>
        {$debit=$debit-$data[x].total}
        {$credit=$credit-$data[x].total}
        {$total=$total-$data[x].total}
        <td align="right">{abs($total)|string_format:"%.2f"} {if $total<0}CR{else}DB{/if}</td>
    </tr>
    {/section}
    <tr>
        <td colspan="3">Total</td>
        <td align="right">{$debit|string_format:"%.2f"}</td>
        <td align="right">{$credit|string_format:"%.2f"}</td>
        <td align="right">{abs($total)|string_format:"%.2f"} {if $total<0}CR{else}DB{/if}</td>
    </tr>
</table>
