<script type="text/javascript">
    function advanced() {
        var opt = $("input[name='option']:checked").val();
        if (opt == 2) {
            $("#list_party").show();
        } else {
            $("#list_party").hide();
        }
    }
    $(document).ready(function () {
        advanced();
        $("input[name='option']").click(function () {
            advanced();
        })
        $(".middle").click(function () {
            var listArr = $(this).attr("name").split("_");
            var list1 = listArr[0];
            var list2 = listArr[1];
            $("#" + list1 + " option:selected").each(function (i, selected) {
                $("#" + list2).append('<option value="' + selected.value + '" selected="selected">' + selected.text + '</option>');
                $(this).remove();
            });
        });
    });
</script>
<fieldset>
    <legend>Receipt and Payment</legend>
    <form method="post" action="index.php?module=accounts&func=receipt">
        <table>
            <tr>
                <td>Start Date :</td>
                <td><input type="text" name="start_date" size="10" class="dtpick" value='{$smarty.request.start_date|date_format:"01/%m/%Y"}' /></td>
                <td>End Date :</td>
                <td><input type="text" name="end_date" size="10" class="dtpick" value='{$smarty.request.end_date|date_format:"%d/%m/%Y"}' /></td>
                <td><input type="radio" name="option" value="1" {if $smarty.request.option=="1"}checked="checked"{/if} />Consolidated<br>
                    <input type="radio" name="option" value="2" {if $smarty.request.option=="2"}checked="checked"{/if} />Individual
                </td>
                <td>
                    <table id="list_party">
                        <tr>
                            <td valign="top">
                                <select name="party1[]" id="party1" multiple="multiple" style="width:300px;">
                                    {html_options options=$party selected=$smarty.request.party1}
                                </select>
                            </td>
                            <td><input name="party1_party2" value=">>" type="button" class="middle"><br>
                                <input name="party2_party1" value="<<" type="button" class="middle">
                            </td>
                            <td>
                                <select name="party2[]" id="party2"  multiple="multiple" style="width:300px;">
                                </select>
                            </td>
                        </tr>
                    </table>
                </td>
                <td align="center">
                    <input type="submit" value="Go" />&nbsp;
                    <input type="button" class="print" value="Print" />
                    <input type="hidden" id="excelfile" value="ReceiptPaymentSummary" />
                    <input type="button" class="excel" value="Download" title="Download as Excel" />
                </td>
            </tr>
        </table>
    </form>
</fieldset>
<br />
<div class="print_content">
    {$smarty.session.cname} {$smarty.session.fyear}<br>
    Receipt and Payment Report for the Period :
    {if isset($smarty.request.start_date)}{$smarty.request.start_date}{else}{$smarty.now|date_format:"%d/%m/%Y"}{/if} - {if isset($smarty.request.end_date)}{$smarty.request.end_date}{else}{$smarty.now|date_format:"%d/%m/%Y"}{/if}
    <br /><br />
    {include file="accounts/receipt{$smarty.request.option}.tpl.html"}
</div>
