<table border="1" id="report">
    <tr>
        <th>Group</th>
        <th>Account Head</th>
        <th>Address</th>
        <th>Opening</th>
        <th>Debit</th>
        <th>Credit</th>
        <th>Closing</th>
    </tr>
    {$debit=0} {$opening=0} {$closing=0} {$credit=0}
    {section name=x loop=$data}
    <tr>
	{if $data[x].opening!=0 || $data[x].debit!=0 || $data[x].credit!=0}
        <td>{$data[x].gname}</td>
        <td>{$data[x].name}</td>
        <td>{$data[x].address1}</td>
        <td align="right">{abs($data[x].opening)|string_format:"%.2f"}{if $data[x].opening<0}&nbsp;DB{else}&nbsp;CR{/if}</td>
        <td align="right">{$data[x].debit|string_format:"%.2f"}</td>
        <td align="right">{$data[x].credit|string_format:"%.2f"}</td>
        <td align="right">{abs($data[x].closing)|string_format:"%.2f"}{if $data[x].closing<0}&nbsp;DB{else}&nbsp;CR{/if}</td>
        {$opening=$opening+$data[x].opening}
        {$debit=$debit+$data[x].debit}
        {$credit=$credit+$data[x].credit}
        {$closing=$closing+$data[x].closing}
	{/if}
    </tr>
    {/section}
    <tr>
        <th colspan="3">Total</th>
        <th align="right">{abs($opening)|string_format:"%.2f"}{if $opening<0}&nbsp;DB{else}&nbsp;CR{/if}</th>
        <th align="right">{$debit|string_format:"%.2f"}</th>
        <th align="right">{$credit|string_format:"%.2f"}</th>
        <th align="right">{abs($closing)|string_format:"%.2f"}{if $closing<0}&nbsp;DB{else}&nbsp;CR{/if}</th>
    </tr>
</table>
