<table border="1" id="report">
    <tr>
        <th>Group</th>
        <th>Account Head</th>
        <th>Address</th>
        <th>Debit</th>
        <th>Credit</th>
    </tr>
    {$debit=0} {$total=0} {$credit=0}
    {section name=x loop=$data}
        {$total=$data[x].debit-$data[x].credit} 
        {if $total<>0}
          <tr>
            <td>{$data[x].gname}</td>
            <td>{$data[x].name}</td>
            <td>{$data[x].address1}</td>
            {if $total < 0}
              <td align="right">&nbsp;</td>
              <td align="right">{abs($total)|string_format:"%.2f"}</td>
              {$credit=$credit+$total}
            {else}
              <td align="right">{abs($total)|string_format:"%.2f"}</td>
              <td align="right">&nbsp;</td>
              {$debit=$debit+$total}
            {/if}
          </tr>
        {/if}
    {/section}
    <tr>
        <th colspan="3">Total</th>
        <th align="right">{abs($debit)|string_format:"%.2f"}</th>
        <th align="right">{abs($credit)|string_format:"%.2f"}</th>
    </tr>
    {if $debit+$credit!=0}
    <tr>
        <th colspan="3">Trial Balance Difference</th>
        <th align="right">{($debit+$credit)|string_format:"%.2f"}</th>
        <td>&nbsp;</td>
    </tr>
    {/if}
</table>
