<table border="1">
    <thead>    
        <tr>
            <th colspan="2">
                <select id="tbl" onchange="update_listing('group', this.value);">
                    {html_options options=$ini.status_all selected=$smarty.request.status}
                </select>
            </th>
            <th><a class="group" href="index.php?module=group&func=edit&ce=0"><div class="add_bg"></div></a></th>
        </tr>
        <tr>
            <th>Name</th><th>Status</th><th>&nbsp;</th>
        </tr>
    </thead>
    {if ($st==st || $child==0)}
    {foreach from=$group item=mod}
    <tr>
        <td><a href="index.php?module=group&func=child&ch={$mod.id}"><b>{$mod.name}</b></a>        
            {if $parent==$mod.id}
            <table>
                {foreach from=$child item=mod1}
                <tr>
                    <td><a href="index.php?module=group&func=child&ch={$mod1.id}"> {$mod1.name}</a></td>
                </tr>
                {/foreach}
            </table>{else}
            {/if}
        </td>	
        <td><select onchange="update_status('group', '{$mod.id}', this.value.$('#tbal').val());">
                {html_options options=$ini.status selected=$mod.status}
            </select></td>

        <td><a class="group" href="index.php?module=group&func=edit&id={$mod.id}&ce=0"><div class="edit_bg">&nbsp;</div></a>
            <a href="index.php?module=group&func=delete&id={$mod.id}&ce=0" onclick="return confirm('Do you want to delete?');"><div class="delete_bg">&nbsp;</div></a></td>
    </tr>
    {/foreach}
    {/if}
</table>
<script type="text/javascript">
    $(document).ready(function() {
        fancy_handler("group");
    });
</script>