<h3>Company Master<hr></h3>
<table id="dataTable" class="table table-striped table-bordered" width="100%">
    <thead>    
        <tr> 
            <th colspan="4">
                <select id="list_status" onchange="update_listing('company', this.value);">
                    {html_options options=$ini.status_all selected=$smarty.request.status}
                </select>
            </th>
            <th><a title="Add Company" href="index.php?module=company&func=edit"><i class="fa fa-plus fa-2x"></i></a></th>
        </tr>
        <tr>
            <th>Name</th><th>Freight</th><th>Point</th><th>Status</th><th>&nbsp;</th>
        </tr>
    </thead>
    {foreach from=$comp item=mod}
    <tr>
        <td>{$mod.name}</td>			
        <td>{$mod.freight_r}</td>			
        <td>{$mod.point}</td>
        <td><select onchange="update_status('company', '{$mod.id_company}', this.value, $('#list_status').val());">
                {html_options options=$ini.status selected=$mod.status}
            </select></td>
        <td><a title="Edit Company" href="index.php?module=company&func=edit&id={$mod.id_company}"><i class="fa fa-edit fa-2x"></i></a>
            <a title="Delete Company" href="index.php?module=company&func=delete&id={$mod.id_company}" onclick="return confirm('Do you want to delete?');"><i class="fa fa-trash fa-2x"></i></a>
        </td>
    </tr>
    {/foreach}
</table>