{$jsurl = "{$source}jsmodule/sreturn.js?{$smarty.now}"}
<script>
    var taxrates = {$taxrates};
</script>
<script type="text/javascript" src="{$jsurl}"></script>
{include file='common/generaljs.tpl.html'}
<div id="salemessage"></div>
{if $smarty.session.url}
<iframe src="{$smarty.session.url|unescape}" height="0px" width="0px" style="display:none"></iframe>
{/if}
<form  method="post" action="" name="sreturn" id="sreturn" autocomplete="off">
    <fieldset>
        <legend>{if $sdata.id_sreturn}Edit{else}Add{/if} Sales Return</legend>
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
                <td colspan="2">
                    <table width="100%">
                        <tr>
                            <td width="25%"><b>Sl. No</b></td>
                            <td><b>Date</b></td>
                            <td><b>Ref. No</b></td>
                            <td><b>Ref. Date</b></td>
                            <td><b>Party Ref.</b></td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" name="sreturn[slno]" size="8" value="{if $sdata}{$sdata.slno}{else}{$slno}{/if}" id="slno" {if $sdata}readonly='readonly'{/if}/><br><span id="msgbox"></span></td>
                            </td>
                        </td>
                        <td>
                            {if isset($sdata.date)}
                            {$date=$sdata.date}
                            {else}
                            {$date=$smarty.now}
                            {/if}
                            <input type="text" name='sreturn[date]' class="dtpick"   value="{$date|date_format:$smarty_date}"/>
                        </td>
                        <td><input type="text" name="sreturn[challan_no]"  value="{$sdata.challan_no}"/></td>
                        <td><input type="text" name="sreturn[challan_date]" class="dtpickno"  value="{$sdata.challan_date|date_format:$smarty_date}"/></td>
                        <td><input type="text" name="sreturn[party_ref]"  value="{$sdata.party_ref}"/></td>
                    </tr>
                    <tr>
                        <td><b>Company Name</b></td>
                        <td><b>Party</b></td>
                        <td><b>Area</b></td>
                        <td><b>Representative</b></td>
                    </tr>
                    <tr>
                        <td><select name="sreturn[id_company]" id="id_company">
                                <option value="">All Company</option>
                                {html_options options=$company selected=$sdata.id_company}
                            </select></td>
                        <td><input type="text" name="sreturn[party_name]"  id="party" size="50"  value="{$sdata.party_name}"/>
			    <input type="button" onclick="editparty()" value="Edit">
                            <br><span id="valid_party"></span>
                            <input type="hidden" name="sreturn[id_head]" value="{$sdata.id_head}" id="id_head"/>
                        </td>
                        <td><select name="sreturn[id_area]" id="id_area" onblur="changerep(this.id)">
                                {html_options options=$area selected=$sdata.id_area}
                            </select></td>
                        <td><select name="sreturn[id_represent]" id="id_represent">
                                {html_options options=$sreturnman selected=$sdata.id_represent}
                            </select></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <table id="partydetail">
                                <tr><td><b>Address1</b></td><td><b>Address2</b></td><td><b>GSTIN</b></td></tr>
                                <tr>
                                    <td><input type="text" name="sreturn[party_address]" style="border:none;" tabindex="-1" id="paddr" value="{$sdata.party_address}"></td>
                                    <td><input type="text" name="sreturn[party_address1]"  style="border:none;" tabindex="-1" id="paddr2" value="{$sdata.party_address1}"></td>
                                <td valign="top">
                                    <input type="text" name="sreturn[party_vatno]"  style="border:none;" value="{$sdata.gstin}" id="gstin"/>
<input type="hidden" id="dealer" value="{$sdata.dealer}" />
                                </td>
                    </tr>
                </table>
            </td>
        </tr>  
    </table>
    </td>
    </tr>
    <tr>
        <td colspan="2">
            <div style="height:210px; overflow:auto;">
                <table width="100%" class="btable">
                    <thead>
                        <tr>
                            <th>&nbsp;</th><th>Item Details</th><th>Batch</th><th>Rate</th><th>Quantity</th><th>Free</th><th>Amount</th><th>Discount</th><th>Spl.Disc.</th><th>C.D.</th><th>GST</th><th>CESS %</th><th>Report</th>
                        </tr>
                    </thead>
                    <tbody id="mtable">
                        <tr class="tabRow">
                            <td><a onclick="removeRow(this);" href="#" tabindex="-1" ><img src="{$source}images/close.png" /></a></td>
                            <td>
                                <input class="drop" type="text" name="items[]" id="item__1" style="width:210px" size="35" onblur="getValues();
                                        getbatch(this.id);" required="required"/>
                                <input type="hidden" name="id_product[]" id="id_product__1" />
                                <input type="hidden" name="discount_amount1[]" id="discount_amount1__1" />
                                <input type="hidden" name="discount_amount2[]" id="discount_amount2__1" />
                                <input type="hidden" name="discount_amount3[]" id="discount_amount3__1" />
                                <input type="hidden" name="discount_amount4[]" id="discount_amount4__1" />
                            </td>
                            <td><input class="drop" type="text" name="batch_no[]" id="batch_no__1" size="6" />
                                <input type="hidden" name="id_batch[]" id="id_batch__1" />
                                <input type="text" name="exp_date[]" id="exp_date__1" size="6" />
                            </td>
                            <td><input type="text" size="6" name="rate[]" id="rate__1"  tabindex="-1" class="ra" /></td>
                            <td><input type="text" size="6" name="quantity[]" onblur="getValues();
                                    getdiscount();" id="qty__1" required="required" class="ra"/></td>
                            <td><input type="text" size="6" name="free[]" id="free__1" class="ra"/></td>
                            <td><input type="text" size="6" name="amount[]" tabindex="-1" readonly="readonly" id="amount__1" class="ra"/></td>
                            <td><input type="text" size="6" name="discount1[]" onblur="getValues()" id="discount1__1" class="ra"/>
                                <select name="discount_type1[]" onchange="getValues()" id="discount_type1__1" class="select">
                                    {html_options options=$ini.discount}
                                </select>
                            </td>
                            <td><input type="text" size="6" name="discount2[]" onblur="getValues()" id="discount2__1" class="ra"/>
                                <select name="discount_type2[]" onchange="getValues()"  id="discount_type2__1" class="select">
                                    {html_options options=$ini.discount}
                                </select>
                            </td>
                            <td><input type="text" size="6" name="discount3[]" id="discount3__1" onblur="getValues()" class="ra" />
                                <select name="discount_type3[]" onchange="getValues()" id="discount_type3__1" class="select">
                                    {html_options options=$ini.discount}
                                </select>
                            </td>
                            <td>
                                <select name="id_taxmaster[]" id="id_taxmaster__1" onchange="getTaxRates(this.id);
                                        getValues()"  class="select">
                                    {html_options options=$tax}
                                </select>
                                <input type="hidden" name="tax_per[]" id="tax_per__1"  />
                                <input type="hidden" name="goods_amount[]" id="goods_amount__1" />
                                <input type="text"  name="tax_amount[]" tabindex="-1" id="taxamt__1" readonly="readonly" size="4" class="ra" />
                            </td>
                            <td>
                                <input type="text" size="6" name="cess[]" id="cess__1" onblur="getValues();
                                        rowadd(this, 'mtable');" class="ra" />
                                <input type="text"  name="cessamt[]" tabindex="-1" id="cessamt__1" readonly="readonly" size="4" class="ra" />
                            </td>
                            <td width="60px">
                                <a href="#" id="history__1" onclick="showid(this.id);"  title="Item Sale History"><img src="{$source}images/report1.png" alt="Sale" width="15" height="15"></a>
                                <a href="#" id="phistory__1" onclick="showparty(this.id);" title="Item Party History" ><img src="{$source}images/report1.png" alt="Sale" width="15" height="15"></a>
                                <a href="#" id="purhistory__1" onclick="purchase(this.id);"  title="Item Purchase History"><img src="{$source}images/report1.png" alt="Sale" width="15" height="15"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    <tr>
        <td  valign="top" width="70%" align="left">
        </td>
        <td valign="top" width="70%" >
            <table>
                <tr>
                    <td  align="right" ><b>Goods Value:</b></td>
                    <td><input type="text" name="sreturn[totalamt]" id="totalamt" class="ra" value="{$sdata.totalamt}"/></td>
                </tr>
                <tr>
                    <td  align="right" ><b>Discount:</b></td>
                    <td><input type="text" name="sreturn[discount]" id="tdiscount" class="ra" value="{$sdata.discount}"/></td>
                </tr>
                <tr>
                    <td  align="right"><b>GST:</b></td>
                    <td><input type="text" name="sreturn[vat]" id="vat" class="ra" value="{$sdata.vat}"/></td>
                </tr>
                <tr>
                    <td  align="right"><b>CESS Amount:</b></td>
                    <td><input type="text" name="sreturn[totalcess]" id="totalcess" class="ra" value="{$sdata.totalcess}"/></td>
                </tr>
                <tr>
                    <td  align="right"><b>Less:</b></td>
                    <td><input type="text" name="sreturn[less]" id="less" class="ra" value="{$sdata.less}" onblur="getValues()"/></td>
                </tr>
                <tr>
                    <td  align="right"><b>Other/Round off:</b></td>
                    <td><input type="text" name="sreturn[round]" id="roundof" class="ra" value="{$sdata.round}" onblur="getValues()"/></td>
                </tr>
                <tr>
                    <td  align="right"><b>Total:</b></td>
                    <td><input type="text" name="sreturn[total]" id="total" class="ra" value="{$sdata.total}"/></td>
                </tr>
                <tr>
                    <td  align="right"><b>Description:</b></td>
                    <td><textarea name="sreturn[memo]" cols="40" rows="5">{$sdata.memo}</textarea></td>
                </tr>  
            </table>
        </td>
    </tr>
    <tr>
        <td align="center" colspan="3">
            <input type="hidden" name="id" value="{$sdata.id_sreturn}" id="sale_id" />
            <input type="hidden" name="order_id" value="{$smarty.request.order_id}" id='order_id' />
            <input type="button" value="Save" id="sub" style=" cursor: pointer" name="save"/>
            <input type="button" value="Save & Print" id="print" style=" cursor: pointer" name="print"/>
        </td>
    </tr>
    </table>
</fieldset>
</form>
