<div style="float:right;"><button id="print">Print</button></div>
<div id="divToPrint">
    <style>
        table{
            font-size:12px;
            color:#666666;
        }
        table a{
            background: transparent;
        }
        .btable{
            border-collapse:collapse;
            table-layout:auto;
            vertical-align:top;
            margin-bottom:15px;
            border:1px solid #CCCCCC;
        }

        .btable thead th{
            color: #666666;
            background-color: #cbcbcb;
            border:1px solid #666666;
            border-collapse:collapse;
            text-align:center;
            table-layout:auto;
            vertical-align:middle;
        }
        .btable thead td{
            color: #666666;
            background-color: #7F99A9;
            border:1px solid #CCCCCC;
            border-collapse:collapse;

            table-layout:auto;
            vertical-align:middle;
        }
        .btable tbody td{
            vertical-align:top;
            border-collapse:collapse;
            border-left:1px solid #CCCCCC;
            border-right:1px solid #CCCCCC;
            color: #666666;
        }

        .btable thead th, .btable tbody td{
            padding:5px;
            border-collapse:collapse;
        }

        .btable tbody tr.light{
            color:#666666;
            background-color:#F7F7F7;
        }

        .btable tbody tr.dark{
            color:#666666;
            background-color:#E8E8E8;
        }
    </style>
    <table class="btable" align="center">
        <thead>
            <tr><th colspan="8">Party History</th></tr>
            <tr>
                <th>Date</th><th>Quantity</th><th>Party name</th>
            </tr>
        </thead>
        {foreach from=$sdata item=mod}
        <tbody>
            <tr>
                <td>{$mod.date|date_format:$ini.smarty_date}</td>
                <td>{$mod.qty}</td>
                <td>{get_name key=$mod.id_head list=$head}</td>			
            </tr>
            {/foreach}
        </tbody>
    </table>
</div>