<form method="post" action="index.php?module=item&func={if $data.id_item}update{else}insert{/if}">
    <fieldset>
        <legend>{if $data.id_item}Edit{else}Add{/if} Item</legend>
        <table>
            <tr>
                <td><b>Name:</b></td>
                <td><input type="text" class="form-control" name="item[name]" value="{$data.name}" size="40"/>
            </tr>
            <tr>
                <td><b>Short Name:</b></td>
                <td><input type="text" class="form-control" name="item[short]" value="{$data.short}" size="40"/>
            </tr>
            <tr>
                <td><b>Weight:</b></td>
                <td><input type="text" class="form-control" name="item[weight]" value="{$data.weight}" size="40"/>
            </tr>
            <tr>
                <td><b>Product:</b></td>
                <td><select class="form-control" name="item[id_product]" required>
                    <option>Select Product</option>
                        {html_options options=$product selected=$data.id_product}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Company:</b></td>
                <td><select class="form-control" name="item[id_company]" required>
                    <option>Select Company</option>
                        {html_options options=$company selected=$data.id_company}
                    </select>
                </td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td><select name="item[status]" class="form-control">
                        {html_options selected={$data.status} options=$ini.status}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id ="hide" name="id" value="{$data.id_item}">
                    <input class="btn btn-primary" type="submit" id="submit" value="Submit" />
                    <input class="btn btn-danger" type="reset" name="res" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>