<script src="js/ddslick.js"></script>

<script type="text/javascript">
    var ddData = Array();
    var ddYear = Array();
    {foreach from=$info item=mod name=f}
    ddData['{$smarty.foreach.f.index}'] = { text: "{$mod.name}", value: '{$mod.name}', selected: false, description: "&nbsp;" };
    {/foreach}
    
    $(document).ready(function() {
        $(".classname").focus();
        var fdata=Array();
        $('#dds').ddslick({
            data:ddData,
            width:400,
            {if isset($smarty.session.sid)}
                'defaultSelectedIndex' : '{$smarty.session.sid}',
            {/if}
            onSelected: function(selectedData) {
                var cur_comp = selectedData['selectedData'].text;
                $('#cname').val(cur_comp);
                $('#sindex').val(selectedData['selectedIndex']);
                $.getJSON("index.php?module=info&func=ddslick",{ name:cur_comp },function(fdata) {
                    $('#year_select').ddslick("destroy");
                    $('#year_select').ddslick({
                        data:fdata,
                        width:280,
                        {if isset($smarty.session.yselect)}
                            'defaultSelectedIndex' : '{$smarty.session.yselect}',
                        {/if}
                        onSelected:function(Data){
                            $('#cid').val((Data['selectedData'].value));
                            $('#yindex').val((Data['selectedIndex']));
                        }
                    })
                })
            }   
        });
    });
</script>
<center>
    <br><br><br><br>
    <h3>Welcome, {$smarty.session.user}</h3>
    <br><br><h2>:: Select Company and Financial Year ::</h2><br><br><br>
    <form action="index.php?module=info&func=prefix" method="post">
        <table>
            <tr>
                <td><div id="dds"></div></td>
                <td><div id="year_select"></div></td>
                <td>
                    <input type="hidden" name="cname" id="cname" />
                    <input type="hidden" name="index" id="sindex" />
                    <input type="hidden" name="yindex" id="yindex" />
                    <input type="hidden" name="id" id="cid" />
                    <input type="submit" name="submit" value="Go" class="btn btn-primary" />
                </td>
            </tr>
        </table>
    </form>
</center>

<style>
    .dd-select {
        border: none;
    }
    .dd-selected {
        height:40px !important;
        border: 1px solid #09192A;
        border-radius: 25px;
    }
</style>