<form method="post" action="index.php?module=area&func={if $data.id_area}update{else}insert{/if}">
    <fieldset>
        <legend>{if $data.id_area}Edit{else}Add{/if} Area</legend>
        <table>
            <tr>
                <td><b>Name:</b></td>
                <td><input type="text" name="area[name]" value="{$data.name}" class="form-control" required size="40"/></td>
            </tr>
            <tr>
                <td><b>Distance:</b></td>
                <td><input type="text" name="area[distance]" value="{$data.distance}" class="form-control" required size="40"/></td>
            </tr>
            <tr>
                <td><b>Freight:</b></td>
                <td><input type="text" name="area[freight]" value="{$data.freight}" class="form-control" required size="40"/></td>
            </tr>
            <tr>
                <td><b>Status:</b></td>
                <td><select name="area[status]" class="form-control">
                        {html_options selected={$data.status} options=$ini.status}
                    </select>
                </td>
            </tr> 
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id="hide" name="id" value="{$data.id_area}" />
                    <input class="btn btn-primary" type="submit" value="Submit" />
                    <input class="btn btn-danger" type="reset" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form>
