
<div id="wrapperl">
    <div id="login" class="animate form">
        <form id="forgot_form" method="post" action="index.php?module=user&func=forgot">
            <p> 
                <label for="uname" class="uname" data-icon="u">Your username</label>
                <input id="uname" name="user[uname]"  type="text" placeholder="mysuperusername690" />
            </p>
            <div id="load" style="position: absolute;left:2%;top: 50% "></div>
            <p class="signin button"> 
                <input type="submit" value="recover"/> 
            </p>
        </form>
    </div>
</div>
