<div id="container_demo" >
    <div id="wrapperl">
         <div id="login" class="animate form">
             <form id="reset_pass_form" action="index.php?module=user&func=resetpass" method="post">
                <p> 
                    <label for="passwordsignup" class="youpasswd" >Your password </label>
                    <input id="pass" name="user[pass]"  type="text" placeholder="eg. X8df!90EO"/>
                </p>
                <p> 
                    <label for="cpass" class="youpasswd">Please confirm your password </label>
                    <input id="cpass" name="user[cpass]"  type="text" placeholder="eg. X8df!90EO"/>
                </p>
                 <p class="signin button"> 
                        <input type="submit" value="reset password"/> 
                    </p>
            </form>
        </div>
    </div>
</div>