<script type="text/javascript">
    var fvalid;
    function form_valid() {
        var fvalid=$("#add_series").validate({
            rules:{
                'series[name]': {
                    required: true,
                    minlength:3,
                    maxlength:4,
                    remote: { url:"index.php?module=series&func=check&id={$data.id_series}", async:false }
                }
            },
            messages: { 
                'series[name]':{
                    required: "<br/>This Field is Required",
                    minlength:"<br/>Plz Enter Atleast 3 charcters",
                    maxlength:"<br/>Plz Enter No more than 4 charcters",
                    remote:"<br/>This Series already exists"
                }
            }
        });
        var x = fvalid.form();
        return x;
    }
    (function($) {
        $.fn.setCursorPosition = function(pos) {
            if ($(this).get(0).setSelectionRange) {
                $(this).get(0).setSelectionRange(pos, pos);
            } else if ($(this).get(0).createTextRange) {
                var range = $(this).get(0).createTextRange();
                range.collapse(true);
                range.moveEnd('character', pos);
                range.moveStart('character', pos);
                range.select();
            }
        }
    }(jQuery));
    $(function() {
        $('#name').keyup(function() {
            if ($(this).val().split('').pop() !== '/') {
                $(this).val($(this).val() + "/");
                $(this).setCursorPosition( $(this).val().length - 1)
            }
            $(this).css('text-transform', 'uppercase');
        });
    });
</script>
<form name="series" id="add_series" method="post" action="index.php?module=series&func={if $data.id_series}update{else}insert{/if}" onsubmit="return form_valid();">
    <fieldset>
        <legend>{if $data.id_series}Edit{else}Add{/if}Series</legend>
        <table border="0" cellspacing="2" cellpadding="2">
            <tr>
                <td><b>Name:</b></td>
                <td><input type="text" name="series[name]" id="name" value="{$data.name}"/>
                    <label for="name"></label></td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="hidden" id="hide" name="id" value="{$data.id_series}">
                    <input type="submit" id="submit" value="Submit" />
                    <input type="reset" name="res" value="Reset"/>
                </td>
            </tr>
        </table>
    </fieldset>
</form> 
